<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Defense</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>2016 Weekly Stats</h1>
      </div>
      <h2>Defense</h2>
      <table>
        <tr>
            <th>Name</th>
            <th>FF Points</th>
            <th>TD</th>
            <th>INT</th>
            <th>Sack</th>
            <th>Fumble Rec</th>
            <th>Safety</th>
            <th>Points Allowed</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.getFirstName }} {{ player.getLastName}}</td>
                <td>{{ player.getFfpoints }}</td>
                <td>{{ player.getTd }}</td>
                <td>{{ player.getIntercepts }}</td>
                <td>{{ player.getSack }}</td>
                <td>{{ player.getFum }}</td>
                <td>{{ player.getSafety }}</td>
                <td>{{ player.getPtsAlw }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <form action="/" method="get">
            <button class="btn btn-primary" type="submit">Home</button>
        </form>
    </div>
  </body>
</html>
