<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Kickers</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>{{ year }} Weekly Stats</h1>
      </div>
      <h2>Kicker week {{ week }}</h2>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Position
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Quarterback</a></li>
          <li><a class="dropdown-item" href="#">Running Back</a></li>
          <li><a class="dropdown-item" href="#">Wide Receiver</a></li>
          <li><a class="dropdown-item" href="#">Tight End</a></li>
          <li><a class="dropdown-item" href="#">Defense</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Year
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">2016</a></li>
          <li><a class="dropdown-item" href="#">2015</a></li>
          <li><a class="dropdown-item" href="#">2014</a></li>
          <li><a class="dropdown-item" href="#">2013</a></li>
          <li><a class="dropdown-item" href="#">2012</a></li>
          <li><a class="dropdown-item" href="#">2011</a></li>
          <li><a class="dropdown-item" href="#">2010</a></li>
          <li><a class="dropdown-item" href="#">2009</a></li>
          <li><a class="dropdown-item" href="#">2008</a></li>
          <li><a class="dropdown-item" href="#">2007</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Week
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Week 1</a></li>
          <li><a class="dropdown-item" href="#">Week 2</a></li>
          <li><a class="dropdown-item" href="#">Week 3</a></li>
          <li><a class="dropdown-item" href="#">Week 4</a></li>
          <li><a class="dropdown-item" href="#">Week 5</a></li>
          <li><a class="dropdown-item" href="#">Week 6</a></li>
          <li><a class="dropdown-item" href="#">Week 7</a></li>
          <li><a class="dropdown-item" href="#">Week 8</a></li>
          <li><a class="dropdown-item" href="#">Week 9</a></li>
          <li><a class="dropdown-item" href="#">Week 10</a></li>
          <li><a class="dropdown-item" href="#">Week 11</a></li>
          <li><a class="dropdown-item" href="#">Week 12</a></li>
          <li><a class="dropdown-item" href="#">Week 13</a></li>
          <li><a class="dropdown-item" href="#">Week 14</a></li>
          <li><a class="dropdown-item" href="#">Week 15</a></li>
          <li><a class="dropdown-item" href="#">Week 16</a></li>
        </ul>
      </div>
      <table>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>FF Points</th>
            <th>PAT</th>
            <th>FG < 19</th>
            <th>FG < 29</th>
            <th>FG < 39</th>
            <th>FG < 49</th>
            <th>FG > 50</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.getFirstName }} {{ player.getLastName}}</td>
                <td>{{ player.getTeam }}</td>
                <td>{{ player.getFfpoints }}</td>
                <td>{{ player.getPat}}</td>
                <td>{{ player.getFg19}}</td>
                <td>{{ player.getFg29}}</td>
                <td>{{ player.getFg39}}</td>
                <td>{{ player.getFg49}}</td>
                <td>{{ player.getFg50}}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <form action="/" method="get">
            <button class="btn btn-primary" type="submit">Home</button>
        </form>
    </div>
  </body>
</html>
