<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Quarterbacks</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>2016 Weekly Stats</h1>
      </div>
      <h2>Kicker</h2>
      <table>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>FF Points</th>
            <th>PAT</th>
            <th>FG < 19</th>
            <th>FG < 29</th>
            <th>FG < 39</th>
            <th>FG < 49</th>
            <th>FG > 50</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.getFirstName }} {{ player.getLastName}}</td>
                <td>{{ player.getTeam }}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
                <td>{{ player.get}}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <form action="/" method="get">
            <button class="btn btn-primary" type="submit">Home</button>
        </form>
    </div>
  </body>
</html>
